<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Elevate your brand with captivating graphic design and seamless web development. Let's bring your vision to life together.">
    <title>Latoya LN Design</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/swiper-bundle.min.css" />
    <script src="https://kit.fontawesome.com/62831395de.js" crossorigin="anonymous"></script>
  </head>
  <body>