<section class="featured-work">
  <div class="project" id="project1">
      <div class="image-container">
          <img src="/img/dehallen.jpeg" alt="de hallen website">
          <div class="hover-effect">
              <p>This site helps people in the neighborhood find eachother to connect more and do more things together.</p>
          </div>
      </div>
      <div class="project-info">
          <div class="tags">
             <span>website</span>
              <span>development</span>
          </div>
          <p>De Hallen</p>
      </div>
  </div>
  <div class="project" id="project2">
      <div class="image-container">
          <img src="/img/jahe.png" alt="ja he flyer">
          <div class="hover-effect">
          </div>
      </div>
      <div class="project-info">
          <div class="tags">
              <span>flyer</span>
              <span>graphic design</span>
          </div>
          <p>Ja He</p>
      </div>
  </div>
  <div class="project" id="project3">
      <div class="image-container">
          <img src="/img/freelancer.png" alt="People Board">
          <div class="hover-effect">
              <p>One of my clients wanted a simple but good brochure to display information.</p>
          </div>
      </div>
      <div class="project-info">
          <div class="tags">
              <span>brochure</span>
              <span>graphic design</span>
          </div>
          <p>People Board</p>
      </div>
  </div>
  <div class="project" id="project4">
      <div class="image-container">
          <img src="/img/tumimundo.jpg" alt="tumi mundo web development">
          <div class="hover-effect">
              <p>Tumi Mundo is a web app that helps children learn multiple languages at a young age.</p>
          </div>
      </div>
      <div class="project-info">
          <div class="tags">
            <span>web app</span>
              <span>development</span>
          </div>
          <p>Tumi Mundo</p>
      </div>
  </div>
</section>
<section class="featured-work">
    <div class="project" id="project1">
        <div class="image-container">
            <img src="/img/birdyslogo.png" alt="birdyslogo">
            <div class="hover-effect">
                <p>This is a Logo designed based on the clients wishes.</p>
            </div>
        </div>
        <div class="project-info">
            <div class="tags">
               <span>logo</span>
                <span>graphic design</span>
            </div>
            <p>Birdys</p>
        </div>
    </div>
    <div class="project" id="project2">
        <div class="image-container">
            <img src="/img/ranbrochure.png" alt="ran brochure">
            <div class="hover-effect">
                <p>This brochure made during an internship at RAN inc is all about the company.</p>
            </div>
        </div>
        <div class="project-info">
            <div class="tags">
                <span>brochure</span>
                <span>graphic design</span>
            </div>
            <p>RAN inc</p>
        </div>
    </div>
    <div class="project" id="project3">
        <div class="image-container">
            <img src="/img/triple.jpg" alt="Tripple">
            <div class="hover-effect">
                <p>A team page for the IOS team of Triple.</p>
            </div>
        </div>
        <div class="project-info">
            <div class="tags">
                <span>website</span>
                <span>web design</span>
            </div>
            <p>Triple</p>
        </div>
    </div>
    <div class="project" id="project4">
        <div class="image-container">
            <img src="/img/verleiders.png" alt="verleiders">
            <div class="hover-effect">
                <p>This is an advert made during my internship. This was displayed in multiple folders, signs and ads.</p>
            </div>
        </div>
        <div class="project-info">
            <div class="tags">
              <span>ad</span>
                <span>graphic design</span>
            </div>
            <p>De Verleiders</p>
        </div>
    </div>
  </section>